
/*reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,button,input,textarea,th,td {
    margin:0;
    padding:0;
}
html {
	font-size: 625%;
}
body {
	font-size: .16rem;
	color: #e9eced;
	background-color: #eaedee;
}

/*=s header */
.header {
	position: "fixed";
	background-color: #5ac0ce;
	width: 100%;
	height: .44rem;
	line-height: .44rem;
	margin-bottom: .08rem;
}
.header a {
	text-decoration: none;
	font-size: .16rem;
	color: #fff;
}
.header a:hover {
	text-decoration: none;
}
.header .left {
	float: left;
	margin-left: .15rem;
}
.header .center {
	position: absolute;
	color: #fff;
	top: 0;
	left: 50%;
	margin-left: -.18rem;
}
.header .center h3 {
	font-size: .18rem;
	font-weight: normal;
}
.header .right {
	float: right;
	margin-right: .15rem;
}

/*=s content*/
.content {
	padding-top: .02rem;
}
.content .form {
	height: .5rem;
	background-color: #fff;
	margin-bottom: .07rem;
	overflow: hidden;
}
.content .form .img {
	float: left;
	width: .14rem;
	height: .21rem;
	padding: .15rem .22rem;
}
.content .form .img img {
	max-height: 100%;
	max-width: 100%;
}
.content .form span {
	float: left;
	font-size: .16rem;
	height: .5rem;
	line-height: .5rem;
}
.content .form .wrapper{
	color: #e9eced;
	overflow: hidden;
}
.content .form .wrapper input {
	font-size: .16rem;
	color: #000000;
	margin-top: .12rem;
	padding-left: .15rem;
	height: .26rem;
	line-height: .26rem;
	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}
/*修改placeholder颜色*/
.content .form .wrapper input::-webkit-input-placeholder {
	color: #e1e5e7;
}

.content .login button {
	margin-top: .02rem;
	font-size: .18rem;
	color: #fff;
	background-color: #5ac0ce;
	height: .5rem;
	width: 100%;
	line-height: .5rem;
	border: none;
	outline: none;
}

/*=s footer*/
.footer {
	float: right;
	margin-top: .1rem;
	margin-right: .15rem;
}
.footer a{
	color: #5ac0ce;
}
